.router-link-active {
  font-weight: bold;
  text-decoration: underline;
}

.login {
  margin-left: auto; margin-right: 0px
}

.login * {
  margin-right: 5px;
}

.login button {
  line-height: 24px;
}

.logout {
  margin-left: auto; margin-right: 5px;
}
